* {
  font-family: 'Anek Kannada', sans-serif;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
  background-color: rgb(8, 33, 78);
  /*background-image: linear-gradient(to top, hsl(219deg 84% 31%), #fefeff);
  background-attachment: fixed;*/
}
h1,h3 {
  color: rgb(255, 255, 255);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.botaoEdata {
  background-color: rgba(255, 255, 255, 0.115);
  padding: 10px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}
#botao {
  padding-top: 10px;
}